.screen-container {
  width: calc(100% - 100px);
  height: 100%;
  background-color: #2739a1;
  border-radius: 30px;
  /* background-color: #1E2A3E; */
  opacity: 1;
  background-image: linear-gradient(
      #233656 2.9000000000000004px,
      transparent 2.9000000000000004px
    ),
    linear-gradient(
      to right,
      #233656 2.9000000000000004px,
      #1e2a3e 2.9000000000000004px
    );
  background-size: 58px 58px;
}


.flex {
    display: flex
}